<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/whatapp_image"
        android:label="@string/app_name"
        android:roundIcon="@drawable/whatapp_image"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyWhatApp"
        tools:targetApi="31">
        <activity
            android:name=".Registratation_Activity"
            android:exported="false" />
        <activity
            android:name=".SignUp_Activity"
            android:exported="false" />
        <activity
            android:name=".NewContact_LoginActivity"
            android:exported="false" />
        <activity
            android:name=".new_comminuty2"
            android:exported="true" />
        <activity
            android:name=".Search_itom_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplaceScreen_WhatApp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>